<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.moodle.moodlemobile"
        versionCode = "387"
        version   = "1.13">
    <name>Moodle Mobile</name>

    <description>
        Moodle Mobile official app
    </description>

    <author href="http://moodle.com" email="juan@moodle.com">
        Juan Leyva
    </author>

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>1.13</string>
    </gap:config-file>

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="stay-in-webview"  value="false" />
    <preference name="webviewbounce"    value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="load-url-timeout" value="60000" />

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />

    <icon src="icon.png" />
    <icon src="img/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="img/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="img/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="img/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="img/icon/android/icon-144-xxhdpi.png"  gap:platform="android"    gap:density="xxhdpi" />

    <icon src="img/icon/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="img/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="img/icon/ios/icon-small@3x.png" gap:platform="ios" width="87" height="87" />

    <icon src="img/icon/ios/icon-40.png"            gap:platform="ios"      width="40" height="40" />
    <icon src="img/icon/ios/icon-40@2x.png"         gap:platform="ios"      width="80" height="80" />
    <icon src="img/icon/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="img/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />

    <icon src="img/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="img/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="img/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src="img/icon/ios/icon-40@3x.png"         gap:platform="ios"        width="120" height="120" />
    <icon src="img/icon/ios/icon-76@2x.png"         gap:platform="ios"        width="152" height="152" />
    <icon src="img/icon/ios/icon-57@2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="img/icon/ios/icon-72@2x.png"         gap:platform="ios"        width="144" height="144" />

    <gap:splash src="img/splash/android/android_ldpi_portrait.png.png" gap:platform="android" gap:density="ldpi"/>
    <gap:splash src="img/splash/android/android_mdpi_portrait.png" gap:platform="android" gap:density="mdpi"/>
    <gap:splash src="img/splash/android/android_hdpi_portrait.png" gap:platform="android" gap:density="hdpi"/>
    <gap:splash src="img/splash/android/android_xhdpi_portrait.png" gap:platform="android" gap:density="xhdpi"/>

    <gap:splash src="img/splash/ios/iphone_portrait.png" gap:platform="ios" width="320" height="480"/>
    <gap:splash src="img/splash/ios/iphone_retina_portrait.png" gap:platform="ios" width="640" height="960"/>
    <gap:splash src="img/splash/ios/iphone5.png" gap:platform="ios" width="640" height="1136" />

    <gap:splash src="img/splash/ios/ipad_portrait.png" gap:platform="ios" width="768" height="1004"/>
    <gap:splash src="img/splash/ios/ipad_landscape.png" gap:platform="ios" width="1024" height="748"/>
    <gap:splash src="img/splash/ios/ipad_retina_portrait.png" gap:platform="ios" width="1536" height="2008"/>
    <gap:splash src="img/splash/ios/ipad_retina_landscape.png" gap:platform="ios" width="2048" height="1496"/>

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8"/>
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="com.phonegap.plugin.statusbar" />

    <gap:plugin name="com.phonegap.plugins.pushplugin" />
    <gap:plugin name="net.tunts.webintent" />
    <gap:plugin name="nl.x-services.plugins.launchmyapp">
        <param name="URL_SCHEME" value="moodlemobile" />
    </gap:plugin>
    <gap:plugin name="com.ionic.keyboard" version="1.0.3" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.5" />
    <gap:plugin name="ch.ti8m.documenthandler" version="0.2.1" />

    <gap:config-file platform="android" parent="/manifest">
         <application android:debuggable="false" />
    </gap:config-file>

    <!-- See MOBILE-892 -->
    <preference name="permissions" value="none"/>

    <gap:config-file platform="android" parent="/manifest" mode="delete">
        <uses-permission android:name="android.permission.WRITE_CONTACTS" />
        <uses-permission android:name="android.permission.READ_CONTACTS" />
        <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        <uses-permission android:name="android.permission.VIBRATE"/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="CFBundleDocumentTypes" mode="add">
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Unknown File</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.calendar-event</string>
                  <string>public.database</string>
                  <string>public.executable</string>
                  <string>public.data</string>
                  <string>public.content </string>
                  <string>public.item</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Video</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.video</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Image</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.image</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Web Archive</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.apple.webarchive</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>iWork Keynote</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.apple.keynote.key</string>
                  <string>com.apple.iwork.keynote.key</string>
                  <string>com.apple.iwork.keynote.kth</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>iWork Numbers</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.apple.numbers.numbers</string>
                  <string>com.apple.iwork.numbers.numbers</string>
                  <string>com.apple.iwork.numbers.template</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>iWork Pages</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.apple.page.pages</string>
                  <string>com.apple.iwork.pages.pages</string>
                  <string>com.apple.iwork.pages.template</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>OpenDocument Spreadsheet</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>org.oasis.opendocument.spreadsheet</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>OpenDocument Presentation</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>org.oasis.opendocument.presentation</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>OpenDocument Text</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>org.oasis.opendocument.text</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Folder</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.folder</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Audio</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.audio</string>
                  <string>public.mp3</string>
                  <string>public.mpeg-4-audio</string>
                  <string>com.apple.protected-​mpeg-4-audio</string>
                  <string>public.aifc-audio</string>
                  <string>com.apple.coreaudio-​format</string>
                  <string>public.aiff-audio</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Movie</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.movie</string>
                  <string>public.3gpp2</string>
                  <string>public.3gpp</string>
                  <string>public.mpeg</string>
                  <string>com.apple.quicktime-movie</string>
                  <string>public.mpeg-4</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>GIF image</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.compuserve.gif</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>PNG image</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.png</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>TIFF image</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.tiff</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>JPEG image</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.jpeg</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>XML</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.xml</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>HTML</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.html</string>
                  <string>public.xhtml</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Rich Text</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.rtf</string>
                  <string>com.apple.rtfd</string>
                  <string>com.apple.flat-rtfd</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Text</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.text</string>
                  <string>public.plain-text</string>
                  <string>public.utf8-plain-text</string>
                  <string>public.utf16-external-plain-​text</string>
                  <string>public.utf16-plain-text</string>
                  <string>com.apple.traditional-mac-​plain-text</string>
                  <string>public.source-code</string>
                  <string>public.c-source</string>
                  <string>public.objective-c-source</string>
                  <string>public.c-plus-plus-source</string>
                  <string>public.objective-c-plus-​plus-source</string>
                  <string>public.c-header</string>
                  <string>public.c-plus-plus-header</string>
                  <string>com.sun.java-source</string>
                  <string>public.script</string>
                  <string>public.shell-script</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                  <string>zip</string>
                  <string>zipx</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Zip archive</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.zip-archive</string>
                  <string>public.archive</string>
                  <string>com.pkware.zip-archive</string>
                  <string>com.pkware.zipx-archive</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                  <string>rar</string>
                  <string>RAR</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Rar archive</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.rarlab.rar-archive</string>
                  <string>public.archive</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                  <string>7z</string>
                  <string>7Z</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>7z archive</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>org.7-zip.7-zip-archive</string>
                  <string>public.archive</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Waveform audio</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.microsoft.waveform-​audio</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Windows icon image</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.microsoft.ico</string>
                  <string>com.apple.icns</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Windows bitmap image</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.microsoft.bmp</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Microsoft PowerPoint</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.microsoft.powerpoint.​ppt</string>
                  <string>org.openxmlformats.presentationml.presentation</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Microsoft Excel</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>org.openxmlformats.spreadsheetml.sheet</string>
                  <string>com.microsoft.excel.xls</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Microsoft Word</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.microsoft.word.doc</string>
                  <string>com.microsoft.word.wordml</string>
                  <string>org.openxmlformats.wordprocessingml.document</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>PDF</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>com.adobe.pdf</string>
                </array>
            </dict>
        </array>
    </gap:config-file>

    <access origin="*" />

</widget>
