<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.moodle.moodlemobile"
        version   = "1.2.0.1">
    <name>Moodle Mobile</name>

    <description>
        Moodle Mobile official app
    </description>

    <author href="http://moodle.com" email="jleyva@cvaconsulting.com">
        Juan Leyva
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/network"/>
    <!-- The following phonegap camera feature block Google Play to install the app on Nexus 7.
         Nothing is broken without it, so we disable it.
         Note that at the current moment we don't use phonegap video capture plugin - MOBILE-296.
         -->
    <!-- feature name="http://api.phonegap.com/1.0/camera"/ -->
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/file"/>

    <preference name="phonegap-version" value="2.3.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="stay-in-webview"  value="false" />
    <preference name="webviewbounce"    value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="load-url-timeout" value="60000" />

    <gap:plugin name="ChildBrowser" /> <!-- latest release -->
    <gap:plugin name="GenericPush" />

    <icon src="icon.png" />
    <icon src="img/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="img/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="img/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="img/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="img/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="img/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="img/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="img/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />

</widget>
