<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/styles.css">
    <script language="javascript">

        // We use this code for handling unexpected errors.
        // Using alert, we are sure that the user get notified in a Mobile device.
        // We add this code at the begining of the index.html and we use only native javascript functions.
        window.onerror = function(msg, url, lineNumber) {
            if (typeof(msg) === "string") {
                var error = msg + "\n\nFile: " + url + "\nLine: " + lineNumber;
                // Ommit cordova and 3rd party libs errors.
                if (url.indexOf("cordova.js") == -1 && url.indexOf("externallib") == -1) {
                    window.alert(error);
                }
            } else {
                var error = msg;
            }

            // This may help debugging if we use logging apps in iOs or Android.
            if(typeof(console) !== "undefined" && typeof(console.log) === "function") {
                console.log(error);
            }

            // Let default error handler run.
            return false;
        };

    </script>
    <script src="cordova.js"></script>
    <script src="childbrowser.js"></script>
    <script src="webintent.js"></script>
    <script src="PushNotification.js"></script>
    <script src="externallib/jquery.min.js"></script>
    <script src="externallib/jquery.touchSwipe.min.js"></script>
    <script src="externallib/md5.js"></script>
    <script src="externallib/matchMedia.js"></script>
    <script src="externallib/matchMedia.addListener.js"></script>
    <script src="externallib/underscore.js"></script>
    <script src="externallib/backbone.js"></script>
    <script src="externallib/backbone-localstorage.js"></script>
    <script src="lib/mm.js"></script>
    <script src="lib/mm.panels.js"></script>
    <script src="lib/mm.util.js"></script>
    <script src="lib/mm.lang.js"></script>
    <script src="lib/mm.db.js"></script>
    <script src="lib/mm.tpl.js"></script>
    <script src="lib/mm.cache.js"></script>
    <script src="lib/mm.settings.js"></script>
    <script src="lib/mm.widgets.js"></script>
    <script src="lib/mm.sync.js"></script>
    <script src="lib/mm.emulator.js"></script>
    <script src="lib/mm.rdebugger.js"></script>
    <script src="lib/mm.fs.js"></script>
    <script data-main="lib/app.js" src="externallib/require.js"></script>
    <script language="javascript">
        // We should wait to phonegap, if not, we get errors like:
        // http://rickluna.com/wp/2012/04/solving-the-connection-to-the-server-was-unsuccessful-error-in-androidphonegap/
        $(document).bind('deviceready', function() {
            MM.log('Deviceready fired');
            MM.deviceReady = true;
            // Store the device locale for further uses.
            navigator.globalization.getLocaleName(
                function (locale) {
                    MM.lang.locale = locale.value;
                    MM.log("Device locale loaded: " + locale.value);
                },
                function () {}
            );
            // Disable the back button, exists the app.
            document.addEventListener("backbutton", function() {
                MM.panels.goBack();
            }, false);

            // Call deviceIsReady function in plugins.
            // Plugins may not be able to listen for the deviceready event because it's possible that it was fire
            // when plugins whasn't loaded, we use a timeout of 5 seconds.
            setTimeout(function() {
                for (var el in MM.plugins) {
                    var plugin = MM.plugins[el];

                    if (typeof(plugin.deviceIsReady) == 'function') {
                        plugin.deviceIsReady();
                    }
                }
            }, 5000);
            MM.fs.init();
        });

        // This function is for handling when the app is opened using a custom URL SCHEME.
        function handleOpenURL(url) {
            MM._appLaunchedByURL(url);
        }
    </script>

    <style id="mobilecssurl"></style>
</head>
<body>

<div id="add-site" style="display: none">

</div>

<div id="manage-accounts" style="display: none">

</div>

<div id="main-wrapper" style="display: none; background-color: white">

    <div class="header-wrapper">
        <header class="header-main">
            <nav class="nav-main">
                <ul class="nav">
                    <li class="nav-item home menu-home">
                        <a href="#" class="ir"  id="mainmenu">
                            Home
                        </a>
                    </li>
                </ul>
                <span id="page-title"></span>
            </nav>
        </header>
    </div>

    <div id="panel-left" class="panel user-menu"></div>

    <div id="panel-center" class="panel"></div>

    <div id="panel-right" class="panel"></div>
</div>

<div id="app-dialog">
    <div>
        <div class="modalHeader">
        </div>
        <div class="modalContent">
        </div>
        <div class="modalFooter">
        </div>
        <div class="modalClear"></div>
    </div>
</div>

<script type="text/template" id="menu_template">
<header>
    <div class="media">
        <div class="refresh app-ico">
            <a href="#refresh">
                <img width="16" height="16" src="img/reload.png" border="0">
            </a>
        </div>
        <div class="img">
            <img src="<%= MM.util.getMoodleFilePath(user.profileimageurl) %>" border="0">
        </div>
        <div class="bd">
            <h1><%= user.fullname %></h1>
        </div>
    </div>
</header>

<ul class="nav nav-v js-accordion">
    <% _.each(plugins, function(plugin) { %>
        <% if (typeof plugin.subMenus == "undefined" || plugin.subMenus.length == 0) { %>
            <li class="nav-item no-submenu">
                <a href="<%= plugin.menuURL %>" class="alink touch-row">
                    <% if (plugin.icon) { %>
                        <div class="plugin-ico app-ico">
                            <img src="<%= plugin.icon %>" border="0">
                        </div>
                    <% } %>
                    <div class="plugin-name">
                        <%= MM.lang.pluginName(plugin.name) %>
                    </div>
                </a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <% if (plugin.toogler) { %>
                    <a class="toogler expand touch-row">
                <% } else { %>
                    <a>
                <% }  %>
                    <% if (plugin.icon) { %>
                        <div class="plugin-ico app-ico">
                            <img src="<%= plugin.icon %>" border="0">
                        </div>
                    <% } %>
                    <div class="plugin-name">
                        <%= MM.lang.pluginName(plugin.name) %>
                    </div>
                </a>
                <% if (plugin.toogler) { %>
                    <ul class="nav submenu">
                <% } else { %>
                    <ul class="nav">
                <% }  %>
                    <% _.each(plugin.subMenus, function(menu) { %>
                        <li class="nav-item">
                            <a href="<%= menu.menuURL %>" class="alink touch-row">
                                <% if (menu.icon) { %>
                                    <div class="plugin-ico app-ico">
                                        <img src="<%= menu.icon %>" border="0">
                                    </div>
                                <% } %>
                                <div class="plugin-name">
                                    <%= MM.lang.s(menu.name) %>
                                </div>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% } %>
    <% }); %>
    <li class="nav-item">
        <a class="toogler expand touch-row section-header">
            <div class="plugin-name">
                <%= MM.lang.s("mycourses") %>
            </div>
        </a>
        <ul class="nav submenu">
            <% _.each(courses, function(course) { %>
            <li class="nav-item">
                <a href="#" class="toogler expand touch-row">
                    <div class="course-ico app-ico">
                        <img src="img/ico-course.png" border="0">
                    </div>
                    <div class="plugin-name">
                        <%= course.fullname %>
                    </div>
                </a>
                <ul class="nav submenu">
                    <% _.each(coursePlugins, function(plugin) { %>
                    <li class="nav-item">
                        <a href="<%= plugin.menuURL %><%= course.id %>" class="touch-row">
                            <% if (plugin.icon) { %>
                                <div class="plugin-ico app-ico">
                                    <img src="<%= plugin.icon %>" border="0">
                                </div>
                            <% } %>
                            <div class="plugin-name">
                                <%= MM.lang.pluginName(plugin.name) %>
                            </div>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </li>
            <% }); %>
            <li class="divider"></li>
        </ul>
    </li>
</ul>

<ul id="general-menu" class="nav nav-v js-accordion">
    <li class="nav-item no-arrow">
        <a href="<%= siteurl%>" target="_blank" class="touch-row">
            <span class="plugin-ico app-ico"><img src="img/ico-network.png" border="0"></span>
            <%= MM.lang.s("website") %>
        </a>
    </li>
    <li class="nav-item no-arrow">
        <a href="<%= docsurl %>" target="_blank" class="touch-row">
            <span class="plugin-ico app-ico"><img src="img/ico-help.png" border="0"></span>
            <%= MM.lang.s("help") %>
        </a>
    </li>
    <li class="nav-item no-submenu">
        <a href="#settings" class="touch-row">
            <span class="plugin-ico app-ico"><img src="img/ico-settings.png" border="0"></span>
            <%= MM.lang.s("settings") %>
        </a>
    </li>
    <li class="nav-item no-submenu">
        <a href="#logout" class="touch-row">
            <span class="plugin-ico app-ico"><img src="img/logout.png" border="0"></span>
            <%= MM.lang.s("logout") %>
        </a>
    </li>
</ul>
</script>

<script type="text/template" id="settings_template">
    <div class="settings-list">
        <ul class="nav nav-v">
            <li class="nav-item">
                <a href="#settings/general/" class="menu1 touch-row"><%= MM.lang.s("general") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/sync/" class="menu1 touch-row"><%= MM.lang.s("synchronization") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/spaceusage/" class="menu1 touch-row"><%= MM.lang.s("spaceusage") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/development/" class="menu1 touch-row"><%= MM.lang.s("development") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/reportbug/" class="menu1 touch-row"><%= MM.lang.s("reportabug") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/about/" class="menu1 touch-row"><%= MM.lang.s("about") %><br></a>
            </li>
            <% _.each(plugins, function(plugin) { %>
            <li class="nav-item">
                <a href="#settings/<%= plugin.menuURL %>" class="menu1 touch-row"><%= MM.lang.s(plugin.name) %><br></a>
            </li>
            <% }); %>
        </ul>
    </div>
</script>

<script type="text/template" id="add-site_template">
<h1 class="app-ico">
    <img src="img/login-logo.png" alt="Moodle">
</h1>
<form action="" novalidate>
    <div id="login-details">
        <p>
            <input type="url" id="url" autocapitalize="off" autocorrect="off" placeholder="<%= MM.lang.s("siteurl") %>">
        </p>
        <div id="login-credentials">
            <p>
                <input type="text" id="username" autocapitalize="off" autocorrect="off" placeholder="<%= MM.lang.s("username") %>">
            </p>
            <p>
                <input type="password" id="password" placeholder="<%= MM.lang.s("password") %>">
            </p>
        </div>
        <p>
            <input type="submit" name="add"   id="addsitebutton"   value="<%= MM.lang.s("add") %>">
            <input type="button" name="reset" id="resetsitebutton" value="<%= MM.lang.s("reset") %>">
        </p>
    </div>
</form>
<div id= "helplogin">
    <a href="#helpmelogin"><%= MM.lang.s("icantlogin") %></a>
    <a href="#manage-accounts"><%= MM.lang.s("manageaccounts") %></a>
</div>
</script>

<script type="text/template" id="manage-accounts_template">
<h1 class="app-ico">
    <img src="img/login-logo.png" alt="Moodle">
</h1>
<% _.each(sites, function(site) { %>
    <div class="accounts">
        <a class="account-details" onclick="MM.loadSite('<%= site.id %>')">
            <img src="<%= MM.util.getMoodleFilePath(site.userpictureurl, 1, site.id) %>">
            <div>
                <span class="account-fullname"><%= MM.util.formatText(site.fullname) %></span>
                <span class="account-sitename"><%= MM.util.formatText(site.sitename) %></span>
                <span class="account-siteurl"><%= site.siteurl %></span>
            </div>
        </a>
        <span class="delete-site" >
            <a class="btn" onclick="MM.settings.deleteSite('<%= site.id %>')"><%= MM.lang.s("deletesiteb") %></a>
        </span>
      </div>
<% });%>
<div class="add-site">
    <a class="btn" href="#add-site"><%= MM.lang.s("add") %></a>
</div>
</script>

</body>
</html>
