<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript">
        // Support for Node Webkit.
        window.requireNode = window.require;
        window.require = undefined;
    </script>
	<script src="cordova.js"></script>
    <script src="childbrowser.js"></script>
    <script src="webintent.js"></script>
    <script src="PushNotification.js"></script>
    <script src="externallib/jquery-1.8.1.min.js"></script>
    <script src="externallib/jquery.touchSwipe.min.js"></script>
    <script src="externallib/md5.js"></script>
    <script src="externallib/matchMedia.js"></script>
    <script src="externallib/matchMedia.addListener.js"></script>
    <script src="externallib/underscore.js"></script>
    <script src="externallib/backbone.js"></script>
    <script src="externallib/backbone-localstorage.js"></script>
	<script src="lib/mm.js"></script>
	<script src="lib/mm.panels.js"></script>
    <script src="lib/mm.util.js"></script>
    <script src="lib/mm.lang.js"></script>
    <script src="lib/mm.db.js"></script>
    <script src="lib/mm.tpl.js"></script>
    <script src="lib/mm.cache.js"></script>
    <script src="lib/mm.settings.js"></script>
    <script src="lib/mm.widgets.js"></script>
    <script src="lib/mm.sync.js"></script>
    <script src="lib/mm.cordova.js"></script>
	<script src="lib/mm.rdebugger.js"></script>
    <script src="lib/mm.fs.js"></script>
    <script data-main="lib/app.js" src="externallib/require.js"></script>
	<script language="javascript">
        // We should wait to phonegap, if not, we get errors like:
        // http://rickluna.com/wp/2012/04/solving-the-connection-to-the-server-was-unsuccessful-error-in-androidphonegap/
        $(document).bind('deviceready', function() {
            MM.log('Deviceready fired');
            MM.deviceReady = true;
            // Disable the back button, exists the app.
            document.addEventListener("backbutton", function() {
                MM.panels.goBack();
            }, false);
            MM.fs.init();
			if (MM.plugins.notifications) {
				// Register the device in the Apple notifications server, retrieve tokens
				MM.plugins.notifications.registerDevice();
			    setTimeout(function() {
					// Finaly, register the device for push notifications from Moodle.
					// We wait sometime until the site is loaded
					MM.plugins.notifications.registerForPushNotification();
				}, 10000);
            }
        });
	</script>
    <!-- Uncomment to display errors in xcode -->
    <!--script type="text/javascript">
        window.onerror = function(message, url, lineNumber) {
            console.log("Error: "+message+" in "+url+" at line "+lineNumber);
        }
    </script-->
    <style id="mobilecssurl"></style>
</head>
<body>

<div id="add-site" style="display: none">

</div>

<div id="main-wrapper" style="display: none">

    <div class="header-wrapper">
        <header class="header-main">
            <nav class="nav-main">
                <ul class="nav">
                    <li class="nav-item home menu-home">
                        <a href="#" class="ir"  id="mainmenu">
                            Home
                        </a>
                    </li>
                </ul>
				<span id="page-title"></span>
            </nav>
        </header>
    </div>

    <div id="panel-left" class="panel user-menu"></div>

    <div id="panel-center" class="panel"></div>

    <div id="panel-right" class="panel"></div>
</div>

<div id="app-dialog">
    <div>
        <div class="modalHeader">
        </div>
        <div class="modalContent">
        </div>
        <div class="modalFooter">
        </div>
        <div class="modalClear"></div>
    </div>
</div>

<script type="text/template" id="menu_template">
<header>
    <div class="media">
        <div class="refresh">
            <a href="#refresh">
                <img width="16" height="16" src="img/reload.png" border="0">
            </a>
        </div>
        <div class="img">
            <img src="<%= MM.util.getMoodleFilePath(user.profileimageurl) %>" border="0">
        </div>
        <div class="bd">
            <h1><%= user.fullname %></h1>
        </div>
    </div>
</header>

<ul class="nav nav-v js-accordion">
    <% _.each(plugins, function(plugin) { %>
        <% if (typeof plugin.subMenus == "undefined" || plugin.subMenus.length == 0) { %>
            <li class="nav-item no-submenu">
                <a href="<%= plugin.menuURL %>" class="alink touch-row">
        			<% if (plugin.icon) { %>
                        <div class="plugin-ico">
                            <img src="<%= plugin.icon %>" border="0">
                        </div>
        			<% } %>
                    <div class="plugin-name">
                        <%= MM.lang.pluginName(plugin.name) %>
                    </div>
                </a>
            </li>
        <% } else { %>
            <li class="nav-item">
        		<% if (plugin.toogler) { %>
                    <a class="toogler expand touch-row">
        		<% } else { %>
                    <a>
        		<% }  %>
        			<% if (plugin.icon) { %>
                        <div class="plugin-ico">
                            <img src="<%= plugin.icon %>" border="0">
                        </div>
        			<% } %>
                    <div class="plugin-name">
                        <%= MM.lang.pluginName(plugin.name) %>
                    </div>
                </a>
        		<% if (plugin.toogler) { %>
                    <ul class="nav submenu">
        		<% } else { %>
                    <ul class="nav">
        		<% }  %>
                    <% _.each(plugin.subMenus, function(menu) { %>
                        <li class="nav-item">
                            <a href="<%= menu.menuURL %>" class="alink touch-row">
            					<% if (menu.icon) { %>
                                    <div class="plugin-ico">
                                        <img src="<%= menu.icon %>" border="0">
                                    </div>
            					<% } %>
                                <div class="plugin-name">
                                    <%= MM.lang.s(menu.name) %>
                                </div>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% } %>
    <% }); %>
</ul>

<h2><%= MM.lang.s("mycourses") %></h2>
<div id="mycourses">
    <ul class="nav nav-v js-accordion">
        <% _.each(courses, function(course) { %>
            <li class="nav-item">
                <a href="#" class="toogler expand touch-row">
                    <div class="course-ico">
                        <img src="img/ico-course.png" border="0">
                    </div>
                    <div class="plugin-name">
                        <%= course.fullname %>
                    </div>
                </a>
                <ul class="nav submenu">
                    <% _.each(coursePlugins, function(plugin) { %>
                        <li class="nav-item">
                            <a href="<%= plugin.menuURL %><%= course.id %>" class="touch-row">
                                <% if (plugin.icon) { %>
        				    		<div class="plugin-ico">
                                        <img src="<%= plugin.icon %>" border="0">
                                    </div>
        						<% } %>
                                <div class="plugin-name">
                                    <%= MM.lang.pluginName(plugin.name) %>
                                </div>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </li>
                <% }); %>
            </ul>
            <h2></h2>
            <ul id="general-menu" class="nav nav-v js-accordion">
                <li class="nav-item no-arrow">
                    <a href="<%= siteurl%>" target="_blank" class="touch-row">
                        <span><img src="img/ico-network.png" border="0"></span>
                        <%= MM.lang.s("website") %>
                    </a>
                </li>
                <li class="nav-item no-arrow">
                    <a href="<%= MM.lang.s("docsurl") %>" target="_blank" class="touch-row">
                        <span><img src="img/ico-help.png" border="0"></span>
                        <%= MM.lang.s("help") %>
                    </a>
                </li>
                <li class="nav-item no-submenu">
                    <a href="#settings" class="touch-row">
                        <span><img src="img/ico-settings.png" border="0"></span>
                        <%= MM.lang.s("settings") %>
                    </a>
                </li>
                <li class="nav-item no-submenu">
                    <a href="#logout" class="touch-row">
                        <span><img src="img/logout.png" border="0"></span>
                        <%= MM.lang.s("logout") %>
                    </a>
                </li>
            </ul>
        </div>
</script>

<script type="text/template" id="settings_template">
    <div class="settings-list">
        <ul class="nav nav-v">
            <li class="nav-item">
                <a href="#settings/sites/" class="menu1 touch-row"><%= MM.lang.s("sites") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/sync/" class="menu1 touch-row"><%= MM.lang.s("synchronization") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/development/" class="menu1 touch-row"><%= MM.lang.s("development") %><br></a>
            </li>
			<li class="nav-item">
                <a href="#settings/reportbug/" class="menu1 touch-row"><%= MM.lang.s("reportabug") %><br></a>
            </li>
            <% _.each(plugins, function(plugin) { %>
            <li class="nav-item">
                <a href="#settings/plugin.menuURL" class="menu1 touch-row"><%= MM.lang.s(plugin.name) %><br></a>
            </li>
            <% }); %>
        </ul>
    </div>
</script>

<script type="text/template" id="add-site_template">
<h1>
    <img src="img/login-logo.png" alt="Moodle">
</h1>
<form action="">
    <p>
        <input type="url" id="url" autocapitalize="off" autocorrect="off" placeholder="<%= MM.lang.s("siteurl") %>">
    </p>
    <p>
        <input type="text" id="username" autocapitalize="off" autocorrect="off" placeholder="<%= MM.lang.s("username") %>">
    </p>
    <p>
        <input type="password" id="password" placeholder="<%= MM.lang.s("password") %>">
    </p>
    <p>
        <input type="submit" name="add" id="addsitebutton" value="<%= MM.lang.s("add") %>">
    </p>
</form>
<div id= "helplogin">
    <a href="#helpmelogin"><%= MM.lang.s("icantlogin") %></a>
</div>
</script>
</body>
</html>